body 
{
    
    font-family: Arial;
    background-color: white;
}


header 
{
    background-color: black;
    color: white;
    padding: 25px;
    
}
.p1{
    background-color: black;
}
nav
{
    float:right;  

}
nav a{
    color:white;
    margin: 5px;
    text-decoration: none;
    nav
{
    float:right;
    color:white;

}
}
nav a:hover{
    text-decoration: underline;
}
.av
{
    background-color:white;
    display: inline-block;
    
}

div 
{
    background-color:gray;
    color:black;
    text-align: center;
    padding: 30px;
}


section 
{
    padding: 10px;
    text-align: center;
}


section div 
{
    background-color:silver;
    border-color:black;
    width: 20%;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

section div img 
{
    width: 70%;
    height: 120px;
}

.v1
{
    color=white;
    width: 50%;
    height: 300px;
}

.external-table {
    margin:auto;
    width: 40%;
    background-color: white;
    text-align: center;
}
.external-table th, .external-table td {
    border: 1px solid black;
    padding: 8px;
}
.external-table th {
    background-color: gray;
}

.customer{

}
.customer{
    text-align: left;
    margin-left: 35%;
   
   margin-right:300px;
   margin-bottom: 100px;
    padding: 10px;
    border: 2px solid black;
    background-color: lightgray;
}
}


.customer input,.customer select,.customer textarea
{
    width: 15%;
    padding:5px
    
}

.customer input[type="radio"]
{
    width:20px;
}
.customer input[type="submit"],
.customer input[type="reset"]
{
    width:12%;
    padding:8px;
    margin-top: 10px;
}


footer 
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}



