body 
{
    
    font-family: Arial;
    background-color: white;
}


header 
{
    background-color: black;
    color: white;
    padding: 25px;
    
}

div 
{
    background-color:gray;
    color:black;
    text-align: center;
    padding: 30px;
}


section 
{
    padding: 10px;
    text-align: center;
}


section div 
{
    background-color:silver;
    border-color:black;
    width: 20%;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

section div img 
{
    width: 70%;
    height: 120px;
}
.p1{
    background-color: black;
}
.v1
{
    color=white;
    width: 50%;
    height: 300px;
}

footer 
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}


nav
{
    float:right;
    color:white;

}
