
body 
{
    font-family: Arial;
    margin: 0;
    background-color:white;
}

header 
{
    background-color:pink;
    padding: 15px;
    text-align: center;
}
.account-section{
    padding:30px;
    
    
}
.account-form
{
    background-color: white;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin:auto;
}

.account-form label
{
    display: block;
    font-weight: bold;
    margin-top: 20px;
}
.account-form input
{
    width: 80%;
    padding: 8px;
    margin-top:5px;
}
.account-form input[type="submit"]
{
    margin-top: 15px;
    background-color:orangered;
    color:white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.account-form input[type="submit"]:hover {
    background-color: #d95c16;
}
.note
{
    font-size: 12px;
    color: blue;
    margin-top: 5padding: 8px;
    margin-top:5px;
}
.order-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}


.product-summary 

{
    width: 35%;
}

.product-box,
.price-box 
{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.order-form 
{
    width: 40%;
    background-color: white;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.order-form label 
{
    display: block;
    
    font-weight: bold;
}

.order-form input,
.order-form textarea 
{
    width: 80%;
    padding: 8px;
    margin-top: 5px;
}


.radio-group 
{
    margin-top: 5px;
}

.radio-group label 
{
    margin-right: 5px;
}


.order-form input[type="submit"]
 {
    margin-top: 20px;
    background-color:orangered;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    
}

.order-form input[type="submit"]:hover {
    background-color: #d95c16;
}


footer {
    background-color: lightpink;
    color: black;
    text-align: center;
    padding: 12px;
}