
*{
    box-sizing: border-box;
}
body 
{
    
    margin: 0;
    background-color: white;
    font-family: Arial;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: black;
    color: white;
    padding: 25px; 
    position: sticky;
    background: linear-gradient(to right,black,gray);
    
}

.Order-form{
    display: block;
    margin:60px auto;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(red, green, blue, alpha);
    
}
.Order-section
    {
    text-align: center;
    
}
.Order-form input,  .Order-form textarea
{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}




.p1{
    background-color:black;
    margin:3px;
    padding:8px;
    color:white;
    width:5px;
   float: center;
}
nav
{
    float:right;  

}
nav a{
    color:white;
    margin: 5px;
    text-decoration: none;
    nav
{
    float:right;
    color:white;

}
}
nav a:hover{
    text-decoration: underline;
}
.av
{
    background-color:white;
    display: inline-block;
    
}

div 
{
    background-color:gray;
    color:black;
    text-align: center;
    padding: 30px;
}


section 
{
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 6px;
}


section div 
{
    background-color:silver;
    border:1px solid black
    border-color:black;
    width: 20%;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    
}

section div img 
{
    width: 70%;
    height: 120px;
    transition: transform 0.3s ease;
}
section div img:hover 
{
    transform: scale(1.1);
}

.v1
{
    color=white;
    width: 50%;
    height: 300px;
}

.external-table {
    margin:auto;
    width: 40%;
    background-color: white;
    text-align: center;
}
.external-table th, .external-table td 
{
    border: 1px solid black;
    padding: 8px;
}
.external-table th {
    background-color: gray;
}


.customer{
    text-align: left;
 margin-left: 300px;
   margin-right:250px;
   margin-bottom: 100px;
    padding: 10px;
    border: 1px solid black;
    background-color: lightgray;
}



.customer input:focus,.customer select:focus,.customer textarea:focus
{
   
    outline:none;
    border:1px solid black;
    background-color: gray;

    
}

.customer input[type="radio"]
{
    width:20px;
}

.customer input[type="submit"],
.customer input[type="reset"]
{
    background-color:white;
    color: black;
    
    
}
.customer input[type="submit"]:hover,

.customer input[type="reset"]:hover
{
   
    background-color: black;
    color: white;
    cursor: pointer;
    border:none;
}


footer 
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}



